.industry-title {
  display: flex;
  gap: 7px;
  align-items: center;
}
.down-arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid var(--white-clr);
}
.industry-container h4 {
  color: var(--white-clr);
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin-block-end: 7.8px;
  text-align: left;
}

.industry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 338px;
  max-height: 167px;
}
