.search-bar {
  flex: 3;
  position: relative;
  margin-inline-start: 28px;
  margin-inline-end: 11px;
}
.search-bar input {
  color: var(--white-clr);
  padding-left: 17.18px;
  padding-right: 30px;
  width: 100%;
  height: 38px;
  border-radius: 5px;
  background: var(--light-gray-clr);
  border: none;
}
.search-bar img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}
